.body {
  background-color: #FFDFBF;
}

.h4-home {
  color: #F24343;
  text-align: left;
  font-weight: bolder;
  font-size: 22px;
  font-family: "raleway";
  padding-left: 16px;
  padding-top: 25px;
}

.home-card-container {
  display: flex;
  flex-wrap: wrap;
}

.home-card {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.home-content {
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.my-events {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  font-family: "Nunito", "Helvetica", "sans-serif";
  margin-bottom: 15px;
  padding-top: 15px;

}

.date {
  color: #A53860;
}

.tasks {
  display: flex;
  justify-content: space-around;
}

.task-card {

  font-family: "Nunito", "Helvetica", "sans-serif";
  background-color: #f8f9fa;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}




.search-bar {
  display: inline-block;
  border: 1px solid #ff4d4d;
  border-radius: 25px;
  padding: 5px, 10px;
  width: 300px
}


.theme-search-form {
  width: 40%;
  margin: 20px auto;
}



.favorite-btn {
  position: absolute;
  // z-index: 100;
  top: 4%;
  left: 4%;

  i {
    color: #F24343;
  }
}

.card-favorite-btn {
  position: relative;
}

// .flex-item {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .w-25 {
//   width: 25%;
// }


.task-card {
  background-color: #F8F9FA;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.theme-title {
  color: #A53860;
  font-size: 18px;
  font-weight: bold;
  font-family: "Nunito", "Helvetica", "sans-serif";
  margin-bottom: 10px;
}

.task-counter {
  color: #555;
  font-size: 16px;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.open-tasks {
  color: #A53860;
  font-weight: bold;
}

.total-tasks {
  color: #555;
}

@media (max-width: 768px) {
  .w-25 {
    width: 100%;
  }
}

.progress-bar {
  height: 10px;
  background-color: #eee;
  margin-top: 5px;
  border-radius: 13px;
}

.progress {
  height: 100%;
  background-color: #A53860 !important;
  transition: width 0.25s ease-in-out;
}

.sidebar {
  height: 100%;
  width: 250px;
  padding-top: 20px;
  z-index: 100;
  transition: transform 0.3s ease;
  margin-top: 10px;
  border-radius: 0 15px 15px 0;
  background-color: white;
  border: 1px solid #d0d0d0;
  position: sticky;
  top: 61px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-family: "Nunito", "Helvetica", "sans-serif";
  padding: 6px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #e9eeef;
  cursor: pointer;
  transition: all 0.3s ease;
  align-items: center;
}

.sidebar a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 12px 20px;
  color: #130f02;
  transition: all 0.3s ease;
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-size: 17px;
  font-weight: 500;
  border-radius: 0 10px 10px 0;
  background-color: white;
  border: 1px solid #d0d0d0;
  margin-bottom: 5px;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.sidebar a:hover {
  background-color: #f5f5f5;
  color: #0f0f0f;
  border-color: #0f0f0f;
}

.search-bar {
  display: inline-block;
  border: 1px solid #ff4d4d;
  border-radius: 25px;
  padding: 5px, 10px;
  width: 300px;
}

.theme-search-form {
  width: 40%;
  margin: 20px auto;
}

.favorite-btn {
  position: absolute;
  top: 4%;
  left: 4%;
}

.card-favorite-btn {
  position: relative;
}

.calendar-container {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  width: 40%;
}

.task-container {
  // width: 25%;
  width: 40%;
}

.progress-bar {
  height: 10px;
  background-color: #eee;
  margin-top: 5px;
  border-radius: 13px;
}

.progress {
  height: 100%;
  background-color: #A53860 !important;
  transition: width 0.25s ease-in-out;
}

.event-display {
  background-color: #F8F9FA;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: #555;
  font-size: 16px;
  font-family: "Segoe UI", Arial, sans-serif;
  height: 100px;
}


.event-display-item {
  background-color: #F8F9FA;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: #555;
  font-size: 16px;
  font-family: "Segoe UI", Arial, sans-serif;
  height: 100px;
  width: 420px;
  display: flex;
}

.pen {
  padding-left: 210px;
}
