.body{
  background-color: #FFDFBF;
}

.h4-home {
  color: #A53860;
  text-align: left;
  font-weight: bolder;
  font-size: 22px;
  font-weight: bolder;
  font-family: "raleway";
  padding-left: 16px;
  padding-top: 25px;

}

.home-card-container {
  display: flex;
  flex-wrap: wrap;
}

.home-card {
  display: flex;
  margin-top: 20px;
  height: 160px;
}

.home-content {
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.my-events {
  color: #A53860;
  text-align: center;
  font-weight: bolder;
  font-size: 28px;
  font-family: "raleway";
  padding-top: 30px;
}

.tasks {
  display: flex;
  justify-content: space-around;
}

.task-card {
  font-family: "Work Sans", "Helvetica", "sans-serif";
  background-color: #f8f9fa;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow:  0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.theme-search-submit {
  color: black;
  border: none;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.search-bar {
  display: inline-block;
  border: 1px solid #ff4d4d;
  border-radius: 25px;
  padding: 5px, 10px;
  width:300px
}


.theme-search-form {
  width: 40%;
  margin: 20px auto;
}


.favorite-btn {
  position: absolute;
  // z-index: 100;
  top: 4%;
  left: 4%;
  i {
    color: #A53860;
  }
}

.card-favorite-btn {
  position: relative;
}
