.landing-page .sidebar {
  display: none;
}

body.landing-page .navbar {
  display: none;
}


.content .btn {
  padding: 12px 24px;
  background-color: #f24343;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.content .btn:hover {
  background-color: #A53860;
}


.home-headline {
  text-align: center;
  color: white;
  font-size: 120px;
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding-top: 56px;

}

.home-sub-headline {
  text-align: center;
  color:white;
  font-size: 40px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}




.button-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.btn {
  margin: 0 10px;
}


.content {
  padding-bottom: 30px;
}


.tasks {
  display: flex;
  justify-content: space-around;
}

.reviews {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
  width: 100%;
  padding-left: 160px;
  padding-right: 160px;
  background-color: #f5f5f5;
}

.review-card {
  border-radius: 15 px;
  box-shadow:  0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}


.info-card {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  background-color: #f5f5f5;
}

.reviews-header {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  font-weight: bold;
  background-color: #f5f5f5;
}
