<div class="container">
  <div class="Banner-show">
    <h1>SpareTime</h1>
    <h3>Research made easy!</h3>
  </div>
  <div class="theme-cards">
    <% @themes.each do |theme| %>
      <%= @theme.title %>
      <%= @theme.despcription %>
    <% end %>
  </div>
</div>
