<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://as1.ftcdn.net/v2/jpg/02/04/89/52/1000_F_204895240_uPTOUaHNOkBAdB4D6HxYhaLFiUBmjocU.jpg)">
  <h1>SpareTime</h1>
  <h3>Research made easy!</h3>
</div> %>
<%# <div class="create-btn"> %>
  <%# link_to "Add a new theme", new_theme_path %>
</div>
<div class="container theme-card-container">
  <% @themes.each do |theme| %>
    <%= link_to theme_path(theme) do %>
      <div class="theme-card">
        <div class="theme-photo">
        </div>
        <div class="theme-content">
          <h3><%= theme.title %></h3>
          <p><%= theme.description.truncate(70) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
