Hello from the theme index
<div class="container">
  <div class="Banner-show">
    <h1>SpareTime</h1>
    <h3>Research made easy!</h3>
  </div>

  <%# SEARCH BAR %>
  <div>
    <%= form_with url: themes_path, method: :get, class: "d-flex" do %>
      <div class="input-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a theme",
          aria_label: "Search for a theme"
        %>
        <div class="input-group-append">
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    <% end %>
  </div>
  <%# END SEARCH BAR %>

  <div class="topics-cards">
    <% @themes.each do |theme| %>
      <%= theme.title %>
      <%= theme.description %>
    <% end %>
  </div>
</div>
