<h2><%= @topic.title %></h2>
<h2><%= @topic.description %></h2>

<div class="container theme-card-container">
  <% @items.each do |item| %>
    <%# link_to topic_path(item) do %>
      <div class="theme-card">
        <div class="theme-photo">
        </div>
        <div class="theme-content">
          <h3><%= item.title %></h3>
          <p><%= item.description.truncate(70) %></p>
        </div>
      </div>
    <%# end %>
  <% end %>
</div>
