<body class="landing-page">
  <div class="content">
    <div class="home-button">
      <%= link_to root_path, class: "btn" do %>
        Home
      <% end %> <!-- Link back to the home page -->
    </div>
    <h1>Welcome to the Landing Page</h1>
    <footer>
      <p>&copy; 2023 My Website. All rights reserved.</p>
    </footer>
  </div>


</body>
