// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "sidebar";

.task-form {
  font-family: "raleway";
}

ul {
  list-style: none;
  font-size: 25px;
  font-family: "lato";
}

h1 h2 h3 {
  font-family: "raleway";
}
h4 h5 h6 p {
  font-family: "lato";
}

.link-gem-container {
  overflow: hidden;
  height: 170px;
  width: 1200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  // padding: 16px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;
}
.link-gem-container img {
  height: 100%;
  width: 170px;
  object-fit: cover;
}

.link-gem h3{
  font-size: 30px;
  font-weight: bold;
  margin-left: 15px;
}

.link-gem p {
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  margin-left: 15px;
}

.text-component {
  padding: 200px;
  background-color: #3C96B1;
  height: 200px;
  width: 200px;
  border: 2px solid #000;
}

.component-title {
  margin-top: 20px;
  font-family: "raleway";
}

.item-name {
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
  margin-top: 20px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  text-align: center;
  padding: 10px 15px;
  h3 {
    font-family: "raleway";
    font-size: 35px;
    font-weight: bold;
  }
  p {
    font-family: "lato";
    font-size: 25px;
    font-style: italic;
  }
}

.themes-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  a {
    text-decoration: none;
  }
}

.themes-card {
  width: 100%;

  .themes-photo img {
    width: 100%;
    object-fit: cover;
  }
}

.back-btn {
  font-family: "lato";
  width: 165px;
  margin-top: 30px;
  margin-left: 80px;
  background-color: #5D2A42;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0;
  margin-bottom: 20px;
  // make sure that the content is well centered in the padding!!
  a {
    text-decoration: none;
    color: #B5C7CF;
  }
}
.topic-heading {
  margin-top: 20px;
  margin-left: 20px;
}
.create-btn {
  font-family: "lato";
  width: 165px;
  margin-top: 30px;
  margin-left: 80px;
  background-color: #3C96B1;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 30px;
  // make sure that the content is well centered in the padding!!
  a {

    text-decoration: none;
    color: white;
  }
}

.theme-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;

  a {
    text-decoration: none;
    color: black;
  }
}
.theme-card {
  display: flex;
}

.theme-content {
  width: 400px;
  margin: 10px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  padding: 16px;
}

.theme-content h3 {
  font-family: "raleway";
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.theme-content p {
  font-family: "lato";
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.banner {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}
.banner h1{
  position: absolute;
  top: 95px;
  left: 20px;
  font-family: "raleway";
  font-weight: bolder;
  font-size: 110px;
}
.banner h3{
  position: absolute;
  top:215px;
  left: 20px;
  font-family: "lato";
  font-size: 70px;
}
