

.navbar-sparetime {
  justify-content: space-between;
  background-color:#222222;
}

.navbar-sparetime .nav-item>a {
  color: white;
  font-size: 1.2rem;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  box-shadow: inset 0 0 0 1px #ff4d4d;
  padding: 0.5rem 1.25rem 0.35rem;
  font-size: .875rem;
  margin: 3px;
  border-radius: 0.25rem;
}

.navbar-sparetime .navbar-collapse {
  flex-grow: 0;
}

.navbar-sparetime .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  width: 30%;
  padding-left: 8px;
}
