

.navbar-sparetime {
  justify-content: space-between;
  background: #3C96B1;
}

.navbar-sparetime .nav-item>a {
  color: white;
}

.navbar-sparetime .navbar-collapse {
  flex-grow: 0;
}

.navbar-sparetime .navbar-brand img {
  width: 40px;
}
