.navbar-sparetime {

  justify-content: space-between;
  border-bottom: 2px solid #ccc;
  // padding-bottom: 6px;

}

.navbar-sparetime .nav-item>a {
  color: black;
  font-size: 1.2rem;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  padding: 0.5rem 1.25rem 0.35rem;
  font-size: 16px;
  margin: 4px;
  border-radius: 0.25rem;
  margin-right: 25px;
}


.navbar-sparetime .navbar-collapse {
  flex-grow: 0;
}

.navbar-sparetime .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  width: 25px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 20px;
}


