.navbar-sparetime {

  justify-content: space-between;
  background-color: #130f02;

}

.navbar-sparetime .nav-item>a {
  color: white;
  font-size: 1.2rem;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  padding: 0.5rem 1.25rem 0.35rem;
  font-size: .875rem;
  margin: 4px;
  border-radius: 0.25rem;
}


}
.navbar-sparetime .navbar-collapse {
  flex-grow: 0;
}

.navbar-sparetime .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  width: 25px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 20px;
}
