
.sidebar {
  height: 100%;
  width: 250px;
  z-index: 100;
  transition: transform 0.3s ease;
  margin-top: 10px;
  border-radius: 0 15px 15px 0;
  background-color: #FFFFFF;
  border: 1px solid #D0D0D0;
  position: sticky;
  top: 61px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.sidebar-title {
  font-weight: bold;
  text-transform: uppercase;
  background-color:#130F02 ;
  color: #ffffff;
  font-family: "Work Sans", "Helvetica", sans-serif;
  padding: 20px 10px;
  margin-bottom: 10px;
  border-radius: 15px 15px 0 0;
  margin-top: 10px;
  border-bottom: 1px solid #E9EEEF;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar a {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  color: #130F02;
  transition: all 0.3s ease;
  font-family: "Work Sans", "Helvetica", sans-serif;
  font-size: 17px;
  font-weight: bold;
  border-radius: 0 10px 10px 0;
  background-color: #FFFFFF;
  border: 1px solid #D0D0D0;
  margin-bottom: 5px;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  background-color: #F5F5F5;
  color: #0F0F0F;
  border-color: #0F0F0F;
}


.topic {
  font-size: 18px;
  padding-left: 35px;
  transition: all 0.3s ease;
}

.item{
  font-size: 18px;
  padding-left: 35px;
  transition: all 0.3s ease;
}


.sidebar h2 {
  color: #A53860;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  padding: 6px 10px;
}

.hidden {
  display: none;
}

.theme {
  font-size: 16px;
  border-bottom: 1px solid #e9eeef;
}

.topic {
  // font-size: 28px;
  margin-left: 5px;
  padding-left: 35px;
  transition: all 0.3s ease;
}


.item {
  font-size: 14px;
  margin-left: 25px;
  padding-left: 65px;
  transition: all 0.3s ease;
}

// item background
#item-hover {
  background-color: rgb(227, 227, 227)
}

// item hover
#item-hover:hover {
  background-color: #868686;
  color: #fff;
}

//topics
.sidebar a:hover {
  background: #2c2c2c;
  color: #fff;
}

.dropdown-container {
  padding-left: 10px;
}

.dropdown-container a {
  font-size: 15px;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.dropdown-container a:hover {
  color: #fff;
  transform: translateX(10px);
}

.hidden {
  display: none;
}


.search {
  width: 300px;
  color: #fff;
}


h4.theme-side {
  color: #e9eeef;
  padding-left: 16px;
}
