.sidebar {
  // position: fixed;
  height: 100%;
  width: 250px;
  padding-top: 20px;
  z-index: 100;
  transition: transform 0.3s ease;
  margin-top: 10px;
  // margin-left: 10px;
  border-radius: 0 15px 15px 0;

  background-color: white;
  border: 1px solid #d0d0d0;
  position: sticky;
  top: 16px;
}

.sidebar a {
  text-decoration: none;
  display: block;
  padding: 12px 20px;

  color: #130f02;

  transition: all 0.3s ease;



}


.sidebar h2 {
  color: #A53860;

  font-family: "Work Sans", "Helvetica", "sans-serif";
  padding: 6px 10px;
}

.hidden {
  display: none;
}

.theme {
  font-size: 16px;
  border-bottom: 1px solid #e9eeef;
}

.topic {
  // font-size: 28px;
  margin-left: 5px;
  padding-left: 35px;
  transition: all 0.3s ease;
}


.item {
  font-size: 14px;
  margin-left: 25px;
  padding-left: 65px;
  transition: all 0.3s ease;
}

// item background
#item-hover {
  background-color: rgb(227, 227, 227)
}

// item hover
#item-hover:hover {
  background-color: #424242
}

//topics
.sidebar a:hover {
  background: #2c2c2c;
  color: #fff;
}

.dropdown-container {
  padding-left: 30px;
}

.dropdown-container a {
  font-size: 14px;
  padding: 8px 0;
  transition: all 0.3s ease;
}

.dropdown-container a:hover {
  color: #fff;
  transform: translateX(10px);
}

.hidden {
  display: none;
}


.search {
  width: 300px;
  color: #fff;
}


h4.theme-side {
  color: #e9eeef;
  padding-left: 16px;
}
