.sidebar {
  // position: fixed;

  margin-right: 30px;
  width: 300px;
  background-color: #3C96B1;
  padding-top: 20px;
  flex: none;
}

.sidebar a {
  text-decoration: none;
  display: block;
  padding: 12px 20px;
  color: white;
  transition: all 0.3s ease;
}

.theme {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #e9eeef;
}

.topic {
  font-size: 20px;
  margin-left: 5px;
  padding-left: 30px;
  transition: all 0.3s ease;
}


.item {
  font-size: 15px;
  margin-left: 25px;
  padding-left: 50px;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  background: #255969;
  color: #fff;
}

.dropdown-container {
  padding-left: 30px;
}

.dropdown-container a {
  font-size: 18px;
  padding: 8px 0;
  transition: all 0.3s ease;
}

.dropdown-container a:hover {
  color: #fff;
  transform: translateX(10px);
}

.hidden {
  display: none;
}
